<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.digitalclock" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Digital Clock</name>
    <description>
        A digital clock application with weather features and alarms.
    </description>
    <author email="dev@example.com" href="http://example.com">
        Developer
    </author>
    
    <content src="index.html" />
    
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    
    <preference name="Orientation" value="portrait" />

    <plugin name="cordova-plugin-geolocation" spec="^4.1.0" />
    <plugin name="cordova-plugin-local-notification" spec="^0.9.0-beta.2" />
</widget>
